/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 10 Mar, 2023, 12:34:58 PM
    Author     : Student
*/
form {
    background-color: #babde6;
    opacity: 80%;
    padding: 2rem
  } 
  
  body{
    background: #cccccc url(gu.jpg);
    background-size: 133%;
  }

  #logo{
    width:100%;
    opacity: 70%;
  }

  #form {
   
    margin: 20vh auto 0 auto;
    padding: 20px;
    
    border-radius: 4px;
    font-size: 12px;
}




.input-control input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 100%;
}

.input-control input:focus {
    outline: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: e;
 }
